
//variables 
$font: 'Comfortaa', cursive;
$pink: #F1BBC5;
$pink2: #FFAAFF;
$pinkTint: tint($pink, 30%); 

// mixins (functions)

// mixin for parallx background images
// $img = path to image
@mixin parallax($img){
	height: 600px;
	background: url($img);
    background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	z-index: -10;
}

 //linear-gradient(#fff, transparent 20%),
 //linear-gradient(transparent, white 20%),

// mixin for links hover, visitied and active
@mixin alinks($back, $text){

	&:hover{
		background: $back;
		color:$text;
	}
	&:visited {
    	background:$back;
    	color:$text;
	}
	&:active{
		background:$back;
		color:$text;
	}
}