.l-head{
	@include grid-row();
	padding-bottom:20px;
}

.backmain{
	 height: 600px;
	 width:100%;
}

.l-background{
	&-1{
		@media only screen and (min-width: 850px) {
			@include parallax("../img/lrg_1.jpg");
		}
	}
	&-2{
		@media only screen and (min-width: 850px) {
			@include parallax("../img/lrg_2.jpg");
		}
	}
	&-3{
		@media only screen and (min-width: 850px) {
			@include parallax("../img/lrg_3.jpg");
		}
	}
	&-4{
		@media only screen and (min-width: 850px) {
			@include parallax("../img/lrg_6.jpg");
		}
	}
}




.l-body{
	@include grid-row();
	padding:30px;
}

.l-footer{
	width:100%;
}
