header{
	width: 100%;
}

.l-head{
	@include grid-row();
	padding-bottom:25px;
}

.l-background{
	&-1{
		@include parallax("../img/lrg_5.jpg");
	}
	&-2{
		@include parallax("../img/lrg_2.jpg");
	}
	&-3{
		@include parallax("../img/lrg_3.jpg");
	}
	&-4{
		@include parallax("../img/lrg_6.jpg");
	}
}




.l-body{
	@include grid-row();
}

.l-footer{
	width:100%;
}
