header{
	width: 100%;
}

.l-head{
	@include grid-row();
	&-logo{
		@include grid-column(12, $center:true);
		@media only screen and (min-width: 850px) { 
			@include grid-column(3, $float:left);
		}
	}
	&-nav{
		@include grid-column(12, $float:right);
		@media only screen and (min-width: 850px) { 
			@include grid-column(9, $float:right);
		}
		&-ul{
			@include grid-column(12, $float:right);
			@include inline-block-list();
			@include button-group-container();
			li{
				@include button-group-style(); 
			}
			&-button{
				@include button();
				font-size: 1.5em;
			}
		}
	}
}

.l-background{
	height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image:url("../img/lrg_1.jpg");
}


.l-body{
	@include grid-row();
	&-p1{
		@include grid-column(10, $center:true);
		margin-top: 50px;
		@media only screen and (min-width: 850px) { 
			@include grid-column(6, $float:left);
		}
	}
	&-p2{
		@include grid-column(10, $center:true);
		margin-top: 30px;
		@media only screen and (min-width: 850px) { 
			@include grid-column(6, $float:left);
			margin-top: 50px;
		}
	}
}

.l-footer{
	width:100%;
}
