
.l-head-nav-ul-button{
	@include button();

	background:$pink;
	color:black;
	font-size: 1em; // 16px
	&:hover{
		background: $pinkTint;
		color:black;
	}
}

.autoplay{
	width:70%;
    margin:50px auto;
    img{
    	padding:10px;
    }
}

.footer_info{
	@include grid-row();
	padding:20px;
	&_copyw{
		@include grid-column(12, $center:true);
		p{
			text-align: center;
		}
		@media only screen and (min-width: 850px) { 
			@include grid-column(12, $center:true);
		}
	}
	&_social{
		background: red;
		@include grid-column(12, $center:true);
		&_img{
			margin: 0 auto;
		}
		@media only screen and (min-width: 850px) { 
			@include grid-column(12, $center:true);
		}
	}
}